$primary-color: #0087CD;
$primary-light: #75CEDE;
$secondary-light: #D0E9FA;
$white: #fff;
$textColor: #202124;
$lightGrayTextColor: #5F6368;
$light-gray: #E0E0E0;
$gray:#868686;
$borderColor: #767676;
$orange: #FA7A35;
$formBorderColor: #EAEAEA;
